<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Fitness Center</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="./css/styles.css">
</head>
<body>
<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="#" class="navbar-brand">
            <img src="/images/fitnesslogo.png" height=28 alt="fitness logo">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/bodycheck" class="nav-item nav-link">Check Body</a>
                <div class="dropdown">
                    <a href="#" class="dropdown nav-item nav-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Items calories</a>
                    <div class="dropdown-menu nav-bg" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Veg</a>
                        <a class="dropdown-item" href="#">Non-Veg</a>
                        <a class="dropdown-item" href="#">Eggetarian</a>
                        <a class="dropdown-item" href="#">Vegan</a>
                    </div>
                </div>    
                <a href="#" class="nav-item nav-link">Diet Chart</a>
                <a href="#" class="nav-item nav-link">Workout plan</a>
                <a href="/contactus" class="nav-item nav-link">Contact Us</a>
            </div>
            <div class="navbar-nav ml-auto">
               <!-- <a href="login.html" class="nav-item nav-link">Login</a> -->
                <a href="#" onclick="document.getElementById('id01').style.display='block'" class="nav-item nav-link">Login</a>
                <a href="#" onclick="document.getElementById('id02').style.display='block'" class="nav-item nav-link">SignUp</a>
            </div>
            <div id="id01" class="modal">
                {{>login}}
            </div>    
            <div id="id02" class="modal">
                {{>signup}}     
            </div>
        </div>
    </nav>

    <section class="py-5 text-center bg-light">
        <h1>We’d like to hear from you</h1>
        <h4>We're here for you. If you have any further questions, please let us know.</h4>
    </section>
    <section class="mt-5 text-center">
        <h5>Contact us</h5>
        <p><a target="_blank" href="mailto: support@gmail.com"> support@gmail.com</a> (Customer support)</p>
        <p></i><a target="_blank" href="mailto: business@gmail.com"> business@gmail.com</a> (Cooperation inquiry)</p>
        <div class="fa-2x">
            <a target="_blank" href="https://www.facebook.com/Mockplus-208416746176601/"><i class="fa fa-facebook-f"></i></a>
            <a class="twitter" target="_blank" href="https://twitter.com/Mockplus"><i class="ml-2 fa fa-twitter"></i></a>
            <a class="linked" target="_blank" href="https://www.linkedin.com/company/mockplus"><i class="ml-2 fa fa-linkedin"></i></a>
        </div>
    </section>
</div>
</body>
</html>                            
