<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Fitness Center</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="./css/styles.css">
</head>
<body>
<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="#" class="navbar-brand">
            <img src="/images/fitnesslogo.png" height=28 alt="fitness logo">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link active">Fitness</a>
            </div>
        </div>
    </nav>
    <section>
        <div class="bg-light p-4">
            <div class="text-center">
               <h4>  Thanks for registering with us. <a href="/" class="nav-item nav-link active">click here</a> to login/goto home page.</h4>  
            </div>
        </div>
    </section>
    <footer id="footer" class="page-footer unique-color-dark mt-4">
        <div class="info-color-dark text-center py-4">
            <a href="#" class="p-2 px-3 mr-4 d-none d-md-inline-block">Join our newsletter      <i class="fa fa-envelope white-text ml-2"> </i>
            <a href="#" class="p-2 px-3 mr-4 d-none d-md-inline-block">Become an Affiliate      <i class="fa fa-money-bill-alt white-text ml-2"> </i>
            <a href="/contactus" class="p-2 px-3 mr-4 d-none d-md-inline-block">Contact us      <i class="fa fa-envelope white-text ml-2"> </i>
            <a href="#"><i class="fa fa-youtube white-text mr-4"> </i></a>
            <a href="#"><i class="fa fa-facebook-f white-text mr-4"> </i></a>
            <a  href="#"><i class="fa fa-twitter white-text"> </i></a>
        </div>
        <div class="footer-copyright py-3 text-center">&copy; 2020 Copyright:
            <a href="https://mdbootstrap.com">
                <strong> MDBootstrap.com</strong>
            </a>
        </div>        
    </footer>
    <script src="/js/login.js"></script>
</div>
</body>
</html>                            