<footer>
    <div class="info-color-dark text-center py-4">
        <a href="#" class="p-2 px-3 mr-4 d-none d-md-inline-block">Join our newsletter      <i class="fa fa-envelope white-text ml-2"> </i>
        <a href="#" class="p-2 px-3 mr-4 d-none d-md-inline-block">Become an Affiliate      <i class="fa fa-money-bill-alt white-text ml-2"> </i>
        <a href="/contactus" class="p-2 px-3 mr-4 d-none d-md-inline-block">Contact us      <i class="fa fa-envelope white-text ml-2"> </i>
        <a href="#"><i class="fa fa-youtube white-text mr-4"> </i></a>
        <a href="#"><i class="fa fa-facebook-f white-text mr-4"> </i></a>
        <a  href="#"><i class="fa fa-twitter white-text"> </i></a>
    </div>
    <div class="footer-copyright py-3 text-center">&copy; 2020 Copyright:
        <a href="https://mdbootstrap.com">
            <strong> MDBootstrap.com</strong>
        </a>
    </div>
</footer>